:root {
    --primary-color: #8B008B; 
    --secondary-color: #6A006A; 
    --accent-color: #929292; 
    --background-color: #363636; 
    --text-color: #FFFFFF; 
    --text-light-color: #F9F9F9;
    --border-color: #4F4F4F; 
    --font-family: 'Roboto', sans-serif;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --transition-speed: 0.3s;
}
